@model IEnumerable<codeFirstApp.Models.Encounter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr  class="text-light bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EncounterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EncounterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EncounterID })
        </td>
    </tr>
}

</table>
